
:root {
    --color-primary: #007bff;
    --title-primary: #007bff;
    --color-primary-hover: #0056b3;
    --color-text-dark: #333;
    --color-border: #ddd;
    --color-white: white;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-background: #f9f9f9;
}

.darkmode {
    --color-primary: #444444;
    --title-primary: white;
    --color-primary-hover: #222222;
    --color-text-dark: #eee;
    --color-border: #777;
    --color-white: white;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-background: #333;
}

body.image {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: url("../Backgrounds/image8298.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    color: var(--color-text-dark);
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 80px;
    color: var(--color-primary);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-background);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--color-shadow);
}
.progress {
    height: 30px;
    margin-bottom: 20px;
}
.progress-bar {
    transition: width 1s ease;
}
.timer {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text-dark);
}
.divider {
    margin: 30px 0;
    border-top: 1px solid var(--color-border);
}
.row {
    margin-top: 20px;
}
.interest-list {
    margin-top: 20px;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
}
.interest-item {
    padding: 5px 0;
    border-bottom: 1px solid var(--color-border);
}
#nextInterestBtn {
    font-style: italic;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 1.1rem;
}
#nextInterestBtn:hover {
    background-color: var(--color-primary-hover);
}
.collapsible {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}
.collapsible:hover {
    background-color: var(--color-primary-hover);
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--color-background);
    margin-top: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
}
.interest-container {
    margin-bottom: 20px;
}
.interest-list-container {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-background);
    margin-top: 10px;
}
