:root {
  --main-bg-color: #f1f1f1;
  --card-bg-color: white;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #007bff;
  --disabled-bg-color: #888888;
  --text-color: black;
  --selection-bg-color: black;
  --selection-text-color: white;
  --dark-bg-color: #222222;
  --dark-text-color: white;
  --card-dark-bg-color: #2f2f2f;
  --primary-color-dark: #444444;
  --dark-selection-text-color: black;
  --dark-selection-bg-color: white;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  color: black;
}

body.dark-mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

button.toggle-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button.toggle-button:last-child {
  display: none;
}

button.toggle-button.dark-mode:first-child {
  display: none;
}

button.toggle-button.dark-mode:last-child {
  display: block;
}

button.toggle-button.dark-mode {
  background-color: var(--primary-color-dark);
  color: white;
}



button.nav-btn {
  color: white;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
}

button.nav-btn.dark-mode {
  background-color: var(--primary-color-dark);
}

.btn-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  padding: 0 10px;
}

button.nav-btn:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-bg-color);
}

button.nav-btn {
  color: white;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button.nav-btn.dark-mode {
  background-color: var(--primary-color-dark);
}

.card {
  background-color: var(--card-bg-color);
  border-radius: 15px;
  box-shadow: 0 8px 16px var(--card-shadow-color);
  padding: 20px 30px;
  max-width: 600px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 60px;
}

h3 {
  margin-top: 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul ul {
  list-style-type: circle;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
  color: var(--primary-color);
}

::selection {
  background: var(--selection-bg-color);
  color: var(--selection-text-color);
}
