:root {
  --main-bg-color: #f1f1f1;
  --card-bg-color: white;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #007bff;
  --disabled-bg-color: #888888;
  --text-color: black;
  --selection-bg-color: black;
  --selection-text-color: white;
  --table-border: #ccc;
}

.darkmode {
  --main-bg-color: #222222;
  --card-bg-color: #2f2f2f;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #444444;
  --disabled-bg-color: #2f2f2f;
  --text-color: #ffffff;
  --selection-bg-color: #000000;
  --selection-text-color: #ffffff;
  --table-border: #888888;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  color: black;
}

button.toggle-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button.toggle-button:last-child {
  display: none;
}

button.toggle-button.dark-mode:first-child {
  display: none;
}

button.toggle-button.dark-mode:last-child {
  display: block;
}

button.toggle-button.dark-mode {
  background-color: var(--primary-color-dark);
  color: white;
}



button.nav-btn {
  color: white;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  padding: 0 10px;
}

button.nav-btn:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-bg-color);
}

button.nav-btn {
  color: white;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}



.card {
  background-color: var(--card-bg-color);
  border-radius: 15px;
  box-shadow: 0 8px 16px var(--card-shadow-color);
  padding: 20px 30px;
  max-width: 600px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 60px;
}

h3 {
  margin-top: 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul ul {
  list-style-type: circle;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
  color: var(--primary-color);
}

::selection {
  background: var(--selection-bg-color);
  color: var(--selection-text-color);
}

#theme-switch {
  height: 50px; 
  width: 50px; 
  padding: 0; 
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center; 
  align-items: center;
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 200;
}

#theme-switch svg{
  fill: white;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

table {
  border-radius: 20px;
  border: 1px solid var(--table-border);
}

th, td {
  border: 1px solid var(--table-border);
}
