body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #222;
    text-align: center;
    background: url("../Backgrounds/1000005399-modified~2.png");
    background-size: cover;
    background-position-x: center;
  }

  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #loader div {
    width: 18px;
    height: 18px;
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;
  }

  #loader div:nth-child(1) {
    animation-delay: -0.32s;
  }

  #loader div:nth-child(2) {
    animation-delay: -0.16s;
  }

  @keyframes bounce {

    0%,
    80%,
    100% {
      transform: scale(0);
    }

    40% {
      transform: scale(1);
    }
  }

  .hidden {
    display: none;
  }

  span.no_selection {
    user-select: none;
    /* standard syntax */
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
  }

  /* Navbar styles */
  .navbar {
    background: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 10;
  }

  .navbar .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #fff;
    color: #2f2f2f;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar img {
    width: 120px;
    margin-bottom: 20px;
  }

  .sidebar hr {
    width: 80%;
    border: 0;
    height: 1px;
    background: #2f2f2f;
    margin: 20px 0;
  }

  .sidebar a {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 1.2rem;
    margin: 10px 0;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #007bff;
  }

  .sidebar-close {
    font-size: 1.5rem;
    color: #2f2f2f;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .title {
    font-size: 2.5rem;
    margin: 114px 5% 20px 5%;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
  }

  .button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    -webkit-tap-highlight-color: transparent;
  }

  .button:hover {
    background-color: #0056b3;
  }

  .container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f1f1f1;
    overflow: hidden;
  }

  .section h3 {
    cursor: pointer;
    color: #007bff;
    -webkit-tap-highlight-color: transparent;
  }

  .content {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border-top: 1px solid #ddd;
    transition: max-height 1s ease, padding 1s ease;
  }

  .content.active {
    max-height: 1200px;
    padding: 10px;
  }

  a {
    color: #007bff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }

  a:hover {
    text-decoration: underline;
  }

  ul,
  ol {
    margin-left: 20px;
    text-align: left;
  }

  li {
    margin: 5px 0;
  }

  .warning {
    margin-right: 5%;
    margin-left: 5%;
    color: #000000;
    text-shadow: 1px 0.9px #000000;
  }

  footer {
    margin-top: 30px;
    font-size: 0.8rem;
    color: #9f9f9f;
  }

  img.tutorial {
    width: 30%;
    height: auto;
    margin: 10px 0;
  }

  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }

    .section {
      padding: 10px;
    }

    img.tutorial {
      width: 80%;
    }
  }
