

:root {
  --background-color: #f9f9f9;
  --text-color: #222;
  --title-color: #ffffff;
  --text-shadow-color: #000000;
  --credits-footer-color: #6c757d;
  --seller-list-background: #ffffff;
  --seller-card-background: #f1f1f1;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-shadow-hover-color: rgba(255, 255, 255, 0.3);
  --box-shadow-seller-card: rgba(0, 0, 0, 0.2);
  --status-selling-color: green;
  --status-paused-color: chocolate;
  --status-inactive-color: red;
  --status-unknown-color: #6c757d;
  --button-background-color: #007bff;
  --button-text-color: #fff;
  --button-hover-background-color: #0056b3;
  --warning-color: #DD2222;
  --warning-text-shadow-color: #000000;
  --background-tint: rgba(0,0,0,0);
}

.darkmode{
  --background-color: #222222;
  --text-color: #eee;
  --title-color: #ffffff;
  --text-shadow-color: #000000;
  --credits-footer-color: #6c757d;
  --seller-list-background: #111111;
  --seller-card-background: #333333;
  --box-shadow-color: rgba(1, 1, 1, 0.1);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.3);
  --box-shadow-seller-card: rgba(200, 200, 200, 0.2);
  --box-shadow-seller-card-hover: rgba(255, 255, 255, 0.6);
  --status-selling-color: green;
  --status-paused-color: chocolate;
  --status-inactive-color: red;
  --status-unknown-color: #6c757d;
  --button-background-color: #444444;
  --button-text-color: #fff;
  --button-hover-background-color: #222222;
  --warning-color: red;
  --warning-text-shadow-color: #000000;
  --background-tint: rgba(0,0,0,0.5);
}

:root {
  --guides-blue: #007bff;
  --white: #ffffff;
  --guides-blue-hover: #0056b3;
  --background: #f4f4f4;
  --sidebar-text: #2f2f2f;
}


#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader div {
  width: 18px;
  height: 18px;
  background-color: #3498db;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

#loader div:nth-child(1) {
  animation-delay: -0.32s;
}

#loader div:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {

  0%,
  80%,
  100% {
      transform: scale(0);
  }

  40% {
      transform: scale(1);
  }
}

.hidden {
  display: none;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 105px;
}

span.no_selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.navbar {
  background: var(--button-background-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  z-index: 10;
  box-sizing: border-box;
  height: 60px;
}

.menu-icon,
.material-icons {
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
}

.navbar a img {
  height: 30px;
  width: auto;
  margin-left: 25px;
  max-width: calc(100% - 16px);
  object-fit: contain;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: auto;
  transition: 0.3s;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
  left: 0;
}

.sidebar img {
  width: 120px;
  margin-bottom: 20px;
}

.sidebar hr {
  width: 80%;
  border: 0;
  height: 1px;
  background: var(--text-color);
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 10px 0;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--button-background-color);
}

.sidebar-close {
  font-size: 1.5rem;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-align: left;
  background: url("../Backgrounds/1000005399-modified~2.png");
  background-size: cover;
  background-position-x: center;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 2.5rem;
  margin: 114px 5% 20px 5%;
  color: var(--title-color);
  text-align: center;
  text-shadow: 2px 2px var(--text-shadow-color);
}

.credits,
footer {
  font-size: 0.9rem;
  color: var(--credits-footer-color);
  margin-bottom: 20px;
  text-align: center;
}

.seller-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: var(--seller-list-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.seller-card,
.seller-card-inactive {
  background: var(--seller-card-background);
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px var(--box-shadow-seller-card);
  overflow-wrap: break-word;
  min-height: 200px;
}

.seller-card:hover,
.seller-card-inactive:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px var(--box-shadow-seller-card-hover);
  
}

.seller-card img {
  height: 50px;
  width: auto;
}

.status {
  font-weight: bold;
}

.status.Selling {
  color: var(--status-selling-color);
}

.status.Paused {
  color: var(--status-paused-color);
}

.status.Inactive {
  color: var(--status-inactive-color);
}

.status.Unknown {
  color: var(--status-unknown-color);
}

a.button {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.button-container {
  text-align: center;
  margin: 20px 0;
}

a.button:hover {
  background-color: var(--button-hover-background-color);
}

.warning {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 20px 5%;
  color: var(--warning-color);
  font-style: italic;
  text-align: center;
  text-shadow: 1px 0.9px var(--warning-text-shadow-color);
}

footer {
  margin: 30px 5%;
  font-size: 0.8rem;
  color: var(--credits-footer-color);
  text-align: center;
}

#theme-switch {
  height: 50px; 
  width: 50px; 
  padding: 0; 
  border-radius: 50%;
  background-color: var(--button-background-color) ;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 200;
}

#theme-switch svg{
  fill: white;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

@media (max-width: 1200px) and (min-width: 600px) {
  .seller-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .seller-list {
      grid-template-columns: 1fr;
  }
}
