body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f5f7fa;
  margin: 20px;
}

.title {
  text-align: center;
  font-weight: 950;
  color: #212121;
  margin-bottom: 20px;
  text-shadow: 2px 2px #e7eae5;
}

.doc-container {
  max-width: 800px;
  margin: 0 auto;
  background: #f2f3f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.section-separator {
  border-bottom: 2px solid #f1f1f1;
}

.collapsible {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 1s ease;
}

.collapsible:hover {
  background-color: #334155;
}

.collapsible::after {
  content: '\25B6';
  font-size: 16px;
  margin-left: auto;
  transition: transform 1s;
}

.collapsible.active::after {
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
  background-color: #e7eae5;
  padding: 0 10px;
}

.content p {
  margin: 10px 0;
}

.content.open {
  max-height: 200px;
  overflow-y: scroll;
}


.content::-webkit-scrollbar {
  width: 12px; 
}

.content::-webkit-scrollbar-track {
  background: #c2c2c2; 
}

.content::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.content ul {
  margin: 0;
  padding-left: 20px;
}

.content ul li {
  margin-bottom: 5px;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.credits {
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.credits p {
  margin: 5px 0;
}

a.button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Cabin', sans-serif;
}
/*universal table style*/

table {
      color: #222;
      padding: 5px;
      border: 1px solid #ddd;
      border-collapse: separate; /* Change from collapse to separate */
      border-radius: 10px; /* Add border-radius to the table */
      font-size: 1rem;
      width: 100%;
      table-layout: auto;
      min-width: 600px;
      overflow: hidden; /* Add overflow hidden to ensure rounded corners are applied */
   }

   th, td {
      border-bottom: 1px solid #ddd;
      padding: 10px; 
      word-wrap: break-word;
      text-align: center;
   }
    }

    th {
      background-color: #007bff;
      color: #fff;
    }
    @media (max-width: 600px) {
      .seller-list {
        padding: 10px;
      }

      table {
        font-size: 0.9rem;
      }

      th, td {
        padding: 10px;
      }
    }

.emerald {
    background: url('emerald.png');
    height: auto;
    width: 20px;
    display: block;
}
